/target/
.gradle
target/*
.idea/
*/target/
.idea/
logs/*
*/logs/*
build*/
.directory
.mailmap
*.ncb
*.orig
*.tlog
*.war
*.sdf
*.opensdf
*.log
*.ipch
*.pdb
*.class
debug/
release/
.settings/
*.rej
.DS_Store
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
/bin/
*.project
*.classpath
*.iml
*/.classpath
*./externalToolBuilders/*
*.externalToolBuilders/*
.externalToolBuilders/*

